.App{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
  }
 
  .card-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .card-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-job,
  .card-hobby {
    font-size: 16px;
    color: #555;
    margin: 15px;
  }
  